<!DOCTYPE html>
<html>
  <head>
    <title>MusicBox1804</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat:300" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
